.body {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #434455;
    background-color: #fff;
}

.header {}

.header-a {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: underline;
}

.header-list {
    list-style: none;
}

.header-list-item {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-decoration: underline;
}

.header-address {
    font-style: normal;
}

.header-adress-list {
    list-style: none;
}

.header-adress-list-item {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-decoration: underline;
}

.header-adress-list-item:hover {
    color: #404bbf;
}

.main {} 

.hero-subtitle {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    text-align: center;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.section-subtitle {}

.section-title {}

.section-list {
    list-style-type: none;
}

.section-title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text {
    font-weight: lighter;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
}

.section-ourteam {
    background: #f4f4fd;
}

.section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourteam-list {
    list-style-type: none;
}

.ourteam-list-item {
    background-color: #fff;

}

.ourteam-img {}

.ourtime-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourtime-list-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section-ourportfolio {}

.ourportfolio-list {
    list-style-type: none;
}

.ourportfolio-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.ourportfolio-list-item {}

.ourportfolio-img {}

.ourportfolio-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ourportfolio-list-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
}


.footer {
    background: #2e2f42;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}